body {
    padding-left:0px;
    padding-right:0px;
}

header {
    width:100%;
    height: auto;
    background: none;
}

header h1 {
    font-size: var(--title-size);
    text-align: center;
}

#container {
    width:100%;
    height: auto;
    margin-top:75px;
    overflow: hidden;
    /* border:1px solid red; */


    display:flex;
    flex-flow:row;
}

.container_group {
    width:100%;
    height:auto;
}

#container_profiles {
    display:grid;
    grid-template-columns: repeat(5,1fr);
}

.button_add {
    width: 200px;
    height: 200px;
    border-radius:100px;
    background-color: var(--fourth-background);
    color:var(--seventh-background);
    font-size:var(--font-size);
    font-weight:lighter;
    cursor:pointer;

    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}

.card_large {
    width: var(--card-small-width);
    height: var(--card-small-height);
    cursor:default;
    padding:20px;
    /* border:1px solid blue; */

    display:flex;
    flex-flow:column;
}

.group_content {
    width: 100%;
    min-height:50%;
    height: auto;
    /* border:1px solid royalblue; */

    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.image_avatar {
    width:200px;
    height:200px;
    border-radius: 50%;
    /* transform: scale(1); */
    padding:3px;
    transition:all 400ms;
    background:none;
}

.informations_avatar {
    width:100%;
    height:auto;
    /* border:1px solid purple; */
    align-self: baseline;


    display:flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: center;
}

span.strong {
    font-size: var(--title-card-size);
}

span.info {
    height:auto;
    font-family: var(--font-information);
    font-size:var(--description-size);

    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;

}

@keyframes imageLoader {
    to{
        background-color: var(--sixth-background);
    }
}
