*,*::before,*::after {
    padding:0px;
    margin:0px;
    border:none;
    outline:none;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    border:none;
    background:none;
    background-color: none;
}

::-webkit-scrollbar {
    width:5px;
    border:none;
    background:none;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    border:5px solid var(--sixth-background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background:var(--theme-grayGray);
    background-color: none;
}

::-ms-scrollbar-track {
    border:none;
    background:none;
    background-color: none;
}

::-ms-scrollbar {
    width: 0px;
    border:none;
    background:none;
    background-color: none;
}

::-ms-scrollbar-thumb {
    border:none;
    background:none;
    background-color: none;
}

img {
    max-width: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family);
    font-size:var(--font-size);
    color:var(--color-font);
    background-color:var(--primary-background);
    background-repeat: no-repeat;
    padding:var(--padding-top) 0px  var(--padding-bottom) var(--padding-left);
    overflow: hidden;
}

.container_rounded_focus {
    width: var(--container-rounded-focus-width);
    height:var(--container-rounded-focus-height);
    border-radius:var(--container-rounded-focus-border-radius);
    padding:var(--container-rounded-focus-padding);
    transition: box-shadow 400ms;
    box-shadow: 0 0 0.2em 0.2em var(--border-cyanCyan);
    animation: rounded_focus 40000ms infinite;

    display:flex;
    flex-flow:center;
    justify-content: center;
    align-items:center;
}

.container_focus {
    width: var(--container-focus-width);
    height:var(--container-focus-height);
    border-radius:var(--container-focus-border-radius);
    padding:var(--container-focus-padding);
    border:1px solid pink;


    display:flex;
    flex-flow:center;
    justify-content: center;
    align-items:center;
}

span.gamescore:after{
    width: 15px;
    height: 15px;
    content:"G";
    border-radius: 7.5px;
    background-color: var(--fifth-background);
    font-size: 8px;
    font-weight: bold;
    color: var(--fourth-background);
    margin-right:5px;

    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}

@keyframes rounded_focus {
    0% {
        box-shadow: 0 0 0.2em 0.2em var(--border-cyanCyan);
    }

    5% {
        box-shadow: 0 0 0.3em 0.2em var(--border-cyanCyan);
    }

    10% {
        box-shadow: 0 0 0.2em 0.3em var(--border-cyanBlue);
    }

    20% {
        box-shadow: 0 0 0.3em 0.3em var(--border-cyanBlue);
    }

    30% {
        box-shadow: 0 0 0.3em 0.2em var(--border-cyanBlue);
    }

    40% {
        box-shadow: 0 0 0.2em 0.3em var(--border-cyanCyan);
    }

    50% {
        box-shadow: 0 0 0.3em 0.2em var(--border-cyanCyan);
    }

    60% {
        box-shadow: 0 0 0.2em 0.3em var(--border-cyanBlue);
    }

    70% {
        box-shadow: 0 0 0.3em 0.2em var(--border-cyanBlue);
    }

    80% {
        box-shadow: 0 0 0.2em 0.3em var(--border-cyanCyan);
    }

    90% {
        box-shadow: 0 0 0.3em 0.2em var(--border-cyanCyan);
    }

    100% {
        box-shadow: 0 0 0.2em 0.2em var(--border-cyanCyan);
    }
}

.element_focus {
    transition: box-shadow 400ms;
}


.boxMessage {
    width:100%;
    height:100%;
    position: absolute;
    background-color:var(--primary-background);
    position: absolute;
    z-index: 100;
    top:0px;

    display:flex;
    flex-flow: row nowrap;
}

.boxMessage_group {
    width:50%;
    height: 100%;
    /* border:1px solid red; */
    padding: 10px;

    display:flex;
    flex-flow: column;
}

.boxMessage_group  h1 {
    font-family: var(--font-description);
    font-size: var(--warning-size);
    margin-left:60px;
}

.boxMessage_group  span {
    font-family: var(--font-description);
    font-size: var(--description-size);
    margin-top:50px;
    margin-left:60px;
}

.boxMessage_group .input_box {
    width: 50%;
    height:50px;
    padding:10px;

    font-family: var(--font-family);
    font-size: var(--description-size);
}

.boxMessage_group .input_box::placeholder {
    font-family: var(--font-description);
    font-size: var(--description-size);
}

.boxMessage_group .buttons_group {
    width: 50%;
    height:50px;
    margin-top:15px;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
}

.boxMessage_group .buttons_group button{
    width:25%;
    height:50px;
    padding:10px;
    margin-left:2px;
    flex: 1;
    cursor: pointer;
}
